<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body style="display: flex;flex-direction: column;min-height: 100vh;">
    {{- partial "header.html" . -}}
    <div style="flex-grow:1;display:flex;flex-direction: column;">
        {{- block "main" . }}{{- end }}
    </div>
    {{ with .File }}
    {{ $jsfile := (printf "%s%s%s" .Dir .TranslationBaseName ".js") }}
    {{ if (fileExists $jsfile) -}}
    <script>
        {{ readFile $jsfile | safeJS }}
    </script>
    {{ end }}
    {{ end }}
    {{ with .File }}
    {{ $cssfile := (printf "%s%s%s" .Dir .TranslationBaseName ".css") }}
    {{ if (fileExists $cssfile) -}}
    <style>
        {{ readFile $cssfile | safeCSS }}
    </style>
    {{ end }}
    {{ end }}
    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}
    <style>
        :root {
            --dtz-light: hsl(105 100% 90%);
            --dtz-normal: hsl(105 100% 30%);
        }
        .dtz-heading {
            background-color: var(--dtz-light);
            border-radius: 1em;
            text-align: center;
        }
        .dtz-card {
            margin: 1em;
            width: 27em;
            border-radius: 2em;
            padding: 1em;
            border: 2px solid var(--dtz-normal);
        }
    </style>
</body>
</html>