<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ps-3 pe-3" href="https://dtz.rocks/" style="border: 2px solid hsl(105 100% 30%);padding-right: 12px;background-color: white;border-radius: 1em;">
            <img src="/logo.svg" alt="" width="32" height="32" class="d-inline-block align-top">
            <span style="color: hsl(105 100% 30%);">down to zero</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle" href="#" id="currentContext" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {project}
                    </a>
                    <ul class="dropdown-menu dropdown-menu" id="contextList" aria-labelledby="currentContext">
                    </ul>
                </li>
                {{ $page := .Page }}
                {{ range .Site.Menus.main }}
                <li class='nav-item {{ if eq (trim $page.RelPermalink "/") ( trim .URL "/" ) }}active{{ end }}'><a
                        class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <style>
                .nav-item:first-child {
                    border-right: 0;
                }

                .nav-item:last-child {
                    border-right: 0;
                }

                .nav-item {
                    border-right: 2px solid orange;
                }

                .nav-item.active {
                    font-weight: 600;
                }
            </style>
            <form class="d-flex">
                <a id="btnSignout" class="btn btn-outline-primary ms-2 me-2" style="display:none;" href="#"
                    onclick="signOut(event)">logout</a>
                <a id="btnSignin" class="btn btn-outline-success" style="display:none;"
                    href="https://identity.dtz.rocks/login?rd={{ .Permalink }}">login</a>
                <ul class="navbar-nav" id="userControl" style="display:none;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="identityLabel" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            style="border-radius: 2em;border: 2px solid hsl(105 100% 30%);width: 3em;text-align: center;color: hsl(105 100% 30%);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                            </svg>
                        </a>
                        <style>
                            #identityLabel::after {
                                display: none;
                            }
                        </style>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li id="userIdentityList">
                                <h6 class="dropdown-header" style="text-align: center;">Identities</h6>
                            </li>
                            <li id="userActionList">
                                <h6 class="dropdown-header" style="text-align: center;">Actions</h6>
                            </li>
                            <li><a class="dropdown-item" href="https://identity.dtz.rocks/">manage</a></li>
                            <li><a class="dropdown-item" href="#" onclick="signOut(event)">logout</a></li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<script>
    var user;
    var knownContexts;
    function parseJwt(token) {
        try {
            return JSON.parse(atob(token.split('.')[1]));
        } catch (e) {
            return null;
        }
    }
    function signOut(evt) {
        if (evt) evt.preventDefault();
        Cookies.remove('dtz-auth', { domain: 'dtz.rocks' });
        window.location.reload();
    }
    function changeToContextId(new_context_id, new_target_url) {
        fetch("https://identity.dtz.rocks/api/2021-02-21/token/refresh", {
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            method: "POST",
            body: JSON.stringify({ contextId: new_context_id })
        }).then(r => {
            if(r.status == 401){
                window.location="/signin?rd="+encodeURI(window.location.href);
            }else{
                return r.json();
            }
        }).then(x => {
            let token = x.access_token;
            let expires = x.expires_in;
            let exp_date = new Date(new Date().getTime() + expires * 1000);
            Cookies.set("dtz-auth", token, {
                expires: exp_date,
                domain: 'dtz.rocks', secure: true, sameSite: 'Lax'
            });
            let alias = getAliasForContext(new_context_id);
            if (alias && alias.length > 0) {
                document.querySelector("#currentContext").textContent = alias;
            } else {
                document.querySelector("#currentContext").textContent = new_context_id.split('-')[0];
            }
            if (new_target_url) {
                document.location = new_target_url;
            } else {
                location.reload();
            }
        })
    }
    function changeContext(evt) {
        if (evt) evt.preventDefault();
        let new_context_id = evt.target.dataset.contextid;
        changeToContextId(new_context_id);
    }
    function initNavbar() {
        let url = document.location.href;
        let urlObj = new URL(url);
        let token;
        // look for url token
        if (urlObj.searchParams.has("dtz-auth")) {
            token = urlObj.searchParams.get("dtz-auth");
        } else {
            // look for cookie token
            if (!Cookies.get('dtz-auth')) {
                if (url.indexOf("https://identity.dtz.rocks/signup") == 0) {
                    return;
                }
                if (url.indexOf("https://identity.dtz.rocks/login") == -1) {
                    if (window.location.hash != '#noredirect') {
                        window.location = "https://identity.dtz.rocks/login/?rd=" + encodeURI(url);
                    }
                }
            } else {
                token = Cookies.get('dtz-auth');
            }
        }
        if (token) {
            let x = parseJwt(token);
            user = x;
            knownContexts = {};
            //look for cache context info
            let str = localStorage.contexts;
            if (str && str.length > 0) {
                let x = JSON.parse(str);
                // eval staleness, not older then 7 days
                if (x.version == "1") {
                    if (x.ts < new Date().getTime() - 7 * 24 * 60 * 60 * 1000) {
                        //delete data
                        delete localStorage.contexts;
                    } else {
                        knownContexts = x.data;
                    }
                } else {
                    //delete unknown data
                    delete localStorage.contexts;
                }
            }
            // check if current context is known
            if (knownContexts && knownContexts[x.scope]) {
                document.querySelector(`#currentContext`).textContent = knownContexts[x.scope].alias;
            } else {
                //process unkown current context
                fetch("https://dtz.rocks/api/2021-12-09/context/" + x.scope, {
                    credentials: 'include'
                })
                    .then(r => {
                        if(r.status == 401){
                            window.location="/signin?rd="+encodeURI(window.location.href);
                        }else{
                            return r.json();
                        }
                    })
                    .then(data => {
                        if (data) {
                            knownContexts[data.contextId] = { alias: data.alias };
                            // wrap around storage headers
                            let x = {
                                ts: new Date().getTime(),
                                version: "1",
                                data: knownContexts
                            };
                            localStorage.contexts = JSON.stringify(x);
                            document.querySelector(`#currentContext`).textContent = data.alias;
                        }
                    });
            }
            let processed_contexts = [];
            for (context_id of x.contexts) {
                let li = document.createElement("li");
                let link = document.createElement("a");
                link.href = "#";
                link.className = "dropdown-item";
                link.addEventListener('click', changeContext);
                link.id = "ctx" + context_id.replaceAll('-', '');
                link.dataset.contextid = context_id;
                if (knownContexts[context_id]) {
                    link.textContent = knownContexts[context_id].alias;

                } else {
                    link.textContent = context_id;
                    fetch("https://dtz.rocks/api/2021-12-09/context/" + context_id, {
                        credentials: 'include'
                    })
                        .then(r =>{
                            if(r.status == 401){
                                window.location="/signin?rd="+encodeURI(window.location.href);
                            }else{
                                return r.json();
                            }
                        })
                        .then(data => {
                            if (data) {
                                let id = `#ctx${data.contextId.replaceAll('-', '')}`;
                                let el = document.querySelector(id);
                                el.textContent = `${data.alias} `;
                                document.querySelector(`#ctx${data.contextId.replaceAll('-', '')}`);
                                knownContexts[data.contextId] = { alias: data.alias };
                                // wrap around storage headers
                                let x = {
                                    ts: new Date().getTime(),
                                    version: "1",
                                    data: knownContexts
                                };
                                localStorage.contexts = JSON.stringify(x);
                                // check for current context
                                if (data.contextId == x.scope) {
                                    document.querySelector(`#currentContext`).textContent = data.alias;
                                }
                            }
                        });
                }
                li.appendChild(link);
                processed_contexts.push(context_id);
                document.getElementById("contextList").appendChild(li);
            }
            document.querySelector("#userControl").style.display = "block";
            // async fire - send event for user is logged in
            window.setTimeout(()=> {
                document.dispatchEvent(new CustomEvent('loggedIn', {bubbles: true}));
            },0);
        }else{
            window.setTimeout(()=> {
                document.dispatchEvent(new CustomEvent('noLoginDetected', {bubbles: true}));
            },0);
        }
    }
    function getContextListFromCookie() {
        let result = [];
        for (let role of user.roles) {
            // ignore identities
            if (role.startsWith("https://dtz.rocks/identity/")
                || role.startsWith("https://dtz.rocks/billing/")) {
                continue;
            }
            let context_id = role.split('/')[5];
            if (!result.includes(context_id)) {
                result.push(context_id);
            }
        }
        return result;
    }
    function getIdentityListFromCookie() {
        let result = [];
        for (let role of user.roles) {
            // ignore identities
            if (role.startsWith("https://dtz.rocks/identity/assume/")) {
                let identity_id = role.split('/')[5];
                if (!result.includes(context_id)) {
                    result.push(context_id);
                }
            }
        }
        return result;
    }
    function getCurrentContext() {
        return user.scope;
    }
    function getAliasForContext(contextId) {
        if (contextId && knownContexts[contextId] && knownContexts[contextId].alias) {
            return knownContexts[contextId].alias;
        } else {
            return '';
        }
    }
    initNavbar();
</script>