<script>
    async function dtzfetch(url, options) {
        return fetch(url, options).then(r => {
            if (r.status == 401) {
                // if the user has a valid session, the 401 means missing role for this service
                if (typeof user !== 'undefined' && user) {
                    window.location = "https://dtz.rocks";
                } else if (window.location.href.indexOf("https://identity.dtz.rocks/login") == -1) {
                    window.location = "https://identity.dtz.rocks/login?rd=" + encodeURI(window.location.href);
                }
            } else if (r.status == 500) {
                alert("request failed with status 500: " + url);
            } else {
                return r.json();
            }
        })
    }
</script>